$-subline-color: rgba(0,0,0,.54);
$-subline-fz: 13px;

$-global-min-with: 900px;
$-global-padding: 16px;
$-global-margin-bottom: 20px;

$-warning-color: #f56c6c;
$-warning-border-color: #f56c6c;
$-warning-bg: #fef0f0;

$-primary-color: #015480;
$-primary-border-color: #409EFF;
$-primary-bg: #e5f5ff;